.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px;
}

.page-section {
    border: solid 1px #ccc;
    padding: 1rem;
}

.page-header,
.page-footer {
    height: 50px;
}

.page-main {
    background: #f8f8f8;
}

.page-left,
.page-right {
    background: #f0efef;
}
.for-item{
    height: 500px;
    border-radius:5px;
}
.button-style{
    width: 280px;
    height: 70px;
    color:#0C5CAA;
    border-color: #0C5CAA;
    margin:20px auto;
    text-align: center;   
    border-radius: 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;
  }

  .slds-text-heading_medium{
    color: #0C5CAA;
  }